<%= link_to "Volver", posts_path %>
<div class="post">
  <h2><%= @post.title %></h2>
  <div><%= markdown @post.body %></div>
</div>

<div class="comments">
  <% @post.comments.order('created_at').each do |comment| %>
    <%= render 'comments/show', comment: comment %>
  <% end %>
  <br>
  <% if signed_in? %>
    <%= render 'comments/new', post: @post %>
  <% end %>
</div>
